@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root{
    --main-clr:#22A39F;
    --clr-1:#22A39F;
    --clr-2:#FD841F;
    --clr-3:#3E6D9C;
    --clr-4:#E14D2A;
    --clr-5:#5F9DF7;
}

body{font-family: "open sans", sans-serif;}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{text-decoration: none}

li{list-style: none}
