.d-flex {display: flex;}

.d-inline-block {display: inline-block;}

.text-center {text-align: center;}

.justify-space-between {justify-content: space-between;}

.justify-content-center {justify-content: center;}

.align-items-center {align-items: center}

.clr-white {color:white;}

.fw-bold {font-weight: bold;}

.container{
    margin:auto;
    padding:0 20px;
}

.p-1 {padding:5px;}

.p-2 {padding:10px;}

.p-3 {padding:15px;}

.p-4 {padding:15px;}

.p-5 {padding:20px;}

.pl-1{
    padding-left:5px;
}

.pl-2{
    padding-left:10px;
}

.pl-3{
    padding-left:15px;
}

.pl-4{
    padding-left:20px;
}

.pb-1{
    padding-bottom:5px;
}

.pb-2{
    padding-bottom:10px;
}

.pb-3{
    padding-bottom:15px;
}

.pb-4{
    padding-bottom:20px;
}



.fs-1{
    font-size: 1rem;
}

.fs-2{
    font-size: 1.4rem;
}

.fs-3 {font-size: 1.8rem;}

.fs-4 {font-size: 2.2rem;}

.fs-5 {font-size: 2.6rem;}

.fs-6 {font-size: 3rem;}

.ps-relative {position: relative;}

.ps-absolute {position: absolute;}

.w-100 {width: 100%;}

.h-100 {height: 100%}


.clr-1{
    background-color: rgb(255 249 128);
}

.clr-2{
    background-color: #C6743E
}

.clr-3{
    background-color: #2F69BF
}

.clr-4{
    background-color: #53C9B1
}

.clr-5{
    background-color: #39556D
}